# Игнорируем файлы и каталоги от IDE  
.idea/  
*.iml  
.vscode/
build/

# Игнорирование временных файлов и каталогов  
*.DS_Store  
cmake-build-debug/  
CMakeFiles/  
CMakeCache.txt  
*.ninja  
*.o  
'*.log'  

# Игнорирование собранных файлов и отчетов  
/bin/  
/obj/